################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backend/API/.vs/API/FileContentIndex/04e6ad2a-8f83-4246-a387-7fb62945ec04.vsidx
/Backend/API/.vs/API/FileContentIndex/1298875e-8d96-4eb5-b008-1f7f0ef8cd93.vsidx
/Backend/API/.vs/API/FileContentIndex/13dc6a16-740f-4c05-b679-39ecb7c8aaef.vsidx
/Backend/API/.vs/API/FileContentIndex/256c4baa-c108-4d23-9297-11a57b34cdba.vsidx
/Backend/API/.vs/API/FileContentIndex/3aad5e54-1027-49b0-ba0d-045f814bee33.vsidx
/Backend/API/.vs/API/FileContentIndex/55cc2eec-0913-463a-b051-5d95db10ad3c.vsidx
/Backend/API/.vs/API/FileContentIndex/9ec36c79-f355-4d74-b378-4f8367d1e9d9.vsidx
/Backend/API/.vs/API/FileContentIndex/ac9f1d59-2ed7-4768-8a68-44c476d360e1.vsidx
/Backend/API/.vs/API/FileContentIndex/add533f6-aed9-4b18-a4b3-31883ddc141e.vsidx
/Backend/API/.vs/API/FileContentIndex/e6b8f4f9-c611-48a9-9027-5aaa75744ce8.vsidx
