<header class="w-full bg-transparent fixed z-50 transition-[background] duration-300">
  <nav class="flex justify-between items-center h-14 max-w-5xl mr-6 ml-6">

    <a routerLink="" class="flex items-center gap-2 text-white">
      <img src="../assets/pullup.jpg" alt="logo" class="w-6">
      Caliworkout
    </a>

    <div
      class="md:hidden fixed top-0 right-0 bg-[hsl(264,43%,17%)] border-l-2 border-gray-300 transition-transform duration-300 transform translate-x-full h-full w-2/3 bg-opacity-70 backdrop-blur-md"
      [ngClass]="{'translate-x-0': isSidebarOpen}"
      [ngClass]="{'translate-x-full': !isSidebarOpen}">
      <ul class="pt-20 pl-12 flex flex-col gap-10">
        <li>
          <a routerLink="" class="text-white font-medium transition hover:text-violet-800 duration-300" (click)="toggleSidebar()">Főoldal</a>
        </li>
        <li>
          <a routerLink="" class="text-white font-medium transition hover:text-violet-800 duration-300" (click)="toggleSidebar()">Program</a>
        </li>
        <li>
          <a routerLink="" class="text-white font-medium transition hover:text-violet-800 duration-300" (click)="toggleSidebar()">Rólunk</a>
        </li>
        <div>
          <a routerLink="/registration" class="text-violet-500 font-medium transition hover:text-red-800 duration-300" (click)="toggleSidebar()"> Regisztráció</a>
        </div>
      </ul>
      <div class="absolute top-4 right-6 text-2xl cursor-pointer">
        <img src="../assets/close-line.png" alt="close" (click)="toggleSidebar()">
      </div>

    </div>

    <div class="flex cursor-pointer">
      <img src="../assets/menu-line.png" alt="menu" (click)="toggleSidebar()">
    </div>

  </nav>
</header>