<section class="bg-[#564f6f] min-h-screen flex items-center justify-center">
    <!--login container-->
    <div class="bg-[#4c495d] flex rounded-2xl shadow-lg max-w-3xl p-5 items-center">

        <!--form container-->
        <div class="md:w-1/2 px-16">
            <h1 class="text-[#802bb1] font-bold">Bejelentkezés</h1>
            <p class="text-xs mt-4 text-[#d1d7e0]">Már van fiókod?, jelentkezz be egyszerűen</p>

            <form [formGroup]="loginForm" class="flex flex-col gap-5">

                <input formControlName="email"
                    class="p-2 mt-8 rounded-xl border w-full shadow-sm focus:outline-none focus:border-[#802bb1] focus:ring-1 focus:ring-[#802bb1] invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500"
                    type="email" name="email" placeholder="Email cim" required="required">

                <span
                    *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)"
                    class="mt-2 text-xs text-red-700">
                    *Nem megfelelő az email cím formátuma
                </span>


                <input formControlName="password"
                    class="p-2 rounded-xl border w-full shadow-sm focus:outline-none focus:border-[#802bb1] focus:ring-1 focus:ring-[#802bb1] invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500"
                    type="password" name="password" placeholder="Jelszó" required="required">

                    <span
                    *ngIf="loginForm.get('password')?.touched && !loginForm.get('password')?.value && loginForm.get('password')?.hasError('required')"
                    class="mt-1 text-xs text-red-700">
                    *A jelszó mező kitöltése kötelező
                </span>


                <button (click)="onSubmit()" class="bg-[#802bb1] rounded-xl
                text-black py-2
                hover:scale-105 duration-200">Bejelentkezés</button>

            </form>

            <div class="mt-10 grid grid-cols-3 items-center font-medium">
                <hr class="border-black">
                <p class="text-center">VAGY</p>
                <hr class="border-black">
            </div>

            <button class="bg-white border py-2 w-full
            rounded-xl mt-5 font-medium
            hover:scale-105 duration-200">Regisztráció</button>

        </div>

        <!--image container-->
        <div class="md:block hidden w-1/2">
            <img class="rounded-2xl" src="../assets/login.jpg" alt="">

        </div>


    </div>

</section>