<form [formGroup]="userForm" (ngSubmit)="OnSubmit()">
  <mat-stepper class="rounded-lg" [linear]="isLinear" [orientation]="(stepperOrientation | async)!" #stepper>
    <mat-step [stepControl]="nameForm">
      <div formGroupName="name">
        <ng-template matStepLabel>Személyes adatok</ng-template>
        <mat-form-field>
          <mat-label>Vezetéknév</mat-label>
          <input matInput placeholder="Vezetéknév" formControlName="firstname" required>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Keresztnév</mat-label>
          <input matInput placeholder="Keresztnév" formControlName="lastname" required>
        </mat-form-field>

      </div>
      <div>
        <button mat-button matStepperNext class="custom-button">Következő</button>
      </div>
    </mat-step>
    <mat-step [stepControl]="userinfoForm" label="Felhasználói adatok">
      <div formGroupName="userinfo">
        <mat-form-field>
          <mat-label>Felhasználónév</mat-label>
          <input matInput formControlName="username" placeholder="Felhasználónév" required>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Email cím</mat-label>
          <input matInput formControlName="email" placeholder="Email" required>
        </mat-form-field>

      </div>
      <div>
        <button mat-button matStepperPrevious class="mr-10">Vissza</button>
        <button mat-button matStepperNext class="custom-button">Következő</button>
      </div>
    </mat-step>
    <mat-step [stepControl]="passwordForm" label="Jelszó">
      <div formGroupName="password">
        <mat-form-field>
          <mat-label>Jelszó</mat-label>
          <input matInput formControlName="password" placeholder="Jelszó" required>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Jelszó újra</mat-label>
          <input matInput formControlName="password2" placeholder="Jelszó újra" required>
        </mat-form-field>

      </div>
      <div>
        <button mat-button matStepperPrevious class="mr-10">Vissza</button>
        <button mat-raised-button color="warn">Regisztráció</button>
      </div>
    </mat-step>
  </mat-stepper>
</form>