<section class="relative bg-[hsl(264,43%,17%)] h-[95vh]">
    <!--CONTAINER-->
    <div class="mx-auto flex justify-center items-center h-full">
        <!--DATA-->
        <div class="flex flex-col gap-6 text-center">
            <h2 class="text-white font-focim font-bold text-[80px]">KÉSZITSD EL</h2>
            <h1 class="text-white font-focim font-semibold text-[70px]">SAJÁT</h1>
            <h1 class="text-white font-focim font-bold text-[80px]">EDZÉSTERVED</h1>
            <p class="text-white text-[24px]">Kezdd el az egészséges életmódot és formáld át tested. Regisztrálj most és készíts saját edzéstervet, vagy válaszd ki a kész terveink közül.</p>

            <div class="group">
                <a routerLink="/registration"
                    class="inline-flex gap-1 text-black bg-violet-700 px-8 py-4 items-center justify-center font-serif text-lg font-bold rounded-lg">
                    Kezdés
                    <img src="..\assets\arrow-right-line.png" class="group-hover:translate-x-2 transform duration-300">
                </a>
            </div>
        </div>
        <!--HOMEKEPEK-->
        <div class="flex justify-center items-center relative">
            <img src="../assets/body.png" alt="home_img" class="z-[1] max-w-full h-auto">
            <div class="[clip-path:polygon(100%_0%,0%_100%,100%_100%)] bg-[hsl(264,52%,35%)] h-[350px] w-[305px] absolute right-0 bottom-0 sm:h-[1005px] sm:w-[705px]">
            </div>
            <div class="[clip-path:polygon(100%_0%,0%_100%,100%_100%)] bg-[hsl(264,52%,40%)] h-[350px] w-[205px] absolute right-0 bottom-0 sm:h-[1005px] sm:w-[505px]">
            </div>
            <div class="[clip-path:polygon(100%_0%,0%_100%,100%_100%)] bg-[hsl(264,52%,45%)] h-[350px] w-[105px] absolute right-0 bottom-0 sm:h-[1005px] sm:w-[305px]">
            </div>
        </div>
    </div>
</section>
