<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar background="black" class="justify-between">
      <button
        type="button"
        aria-label="Toggle sidenav"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>kaliworkout</span>
      <button routerLink="/login" class="h-8 px-4 hover:text-white hover:bg-purple-800 bg-white text-purple-700 transition ease-in-out duration-150" type="submit">
        Login
      </button>
    </mat-toolbar>

  </mat-sidenav-content>
</mat-sidenav-container>
